---
import "../styles/global.css";

const {
  title = "Mashisdev - Portfolio",
  description = "Backend developer with freelance experience and a strong focus on client-oriented solutions.",
  ogImage = '/icons/og-image.png'
  }
  = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const absoluteOgImage = new URL(ogImage, Astro.site).href;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={absoluteOgImage} />
    <meta property="og:image:url" content={absoluteOgImage} />
    <meta property="og:image:alt" content={title + ' - Share Image'} />

    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000" />

    <link rel="manifest" href="/manifest.json">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:url" content={canonicalURL} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={absoluteOgImage} />
    <meta name="twitter:image:alt" content={title + ' - Share Image'} />
    <meta name="twitter:site" content="@gndx" />
    <meta name="twitter:creator" content="@gndx" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="google-site-verification" content="FxIU7CCsVJ7wL9CQsl_YNR_c7_o1AkBvfx528QqTZKs" />

    <!-- Google Analytics -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-MBPQX9ZJXF"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MBPQX9ZJXF');
    </script>

  </head>
  <body
    class="min-h-screen bg-background font-sans antialiased selection:bg-blue-500/20 selection:text-blue-500"
  >
    <div
      class="fixed inset-0 -z-10 h-full w-full bg-background bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(66,135,245,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <slot />
  </body>
</html>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }

  :root {
    --transition-standard: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  body {
    transition:
      background-color var(--transition-standard),
      color var(--transition-standard);
  }
</style>
